{
   "users":[
      {
         "firstName":"Notification",
         "lastName":"NOTIFICATION",
         "civility":"Mr.",
         "emailAddress":"notification@notification.com"
      }
   ],
    "emailContents":{
        "from":"dsconsulting_notification@notification.com",
        "name":"DataSkills Consulting Notification",
        "subject":"Service fail",
        "body":"Le service X ne repond plus; il se peut qu'il est tombé. Merci de vérifiez le bon fonctionnement du service.",
        "signature":"Cordialement, <br />﻿ <em>DataSkills Consulting  Notification Team</em><br /> Digital Stack Team.<br />"
    }
}